@model WebApp.Models.PeliculaViewModel;
@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Views.Pelicula.CreateOrEdit
@inject Microsoft.Extensions.Localization.IStringLocalizer<Binit.Framework.SharedResources> localizer

@{
    int i = (int)ViewData["Index"];
    var editable = (bool)ViewData["Editable"];
}

<tr id="curiosidad-row-@i">
    <input type="hidden" asp-for="@Model.Curiosidades[i].Id"/>
    <td>
        <div class="@(editable ? "form-group m-t-20" : "")" binit-validation-for="Curiosidades[i].Name"
            binit-onerror-class="has-danger" binit-onsuccess-class="has-success">
            <input disabled="@(editable ? null : "disabled")" type="text" asp-for="@Model.Curiosidades[i].Name" class="form-control" />
            @if(editable){
				<span class="bar"></span>
				<label asp-for="@Model.Curiosidades[i].Name"></label>
				<span asp-validation-for="@Model.Curiosidades[i].Name" class="form-control-feedback"></span>
			}
        </div>
    </td>
    <td>
        <div class="@(editable ? "form-group m-t-20" : "")" binit-validation-for="Curiosidades[i].Description"
            binit-onerror-class="has-danger" binit-onsuccess-class="has-success">
            <input disabled="@(editable ? null : "disabled")" type="text" asp-for="@Model.Curiosidades[i].Description" class="form-control" />
            @if(editable){
				<span class="bar"></span>
				<label asp-for="@Model.Curiosidades[i].Description"></label>
				<span asp-validation-for="@Model.Curiosidades[i].Description" class="form-control-feedback"></span>
			}
        </div>
    </td>
    @if(editable){
        <td class="actions">
            <button type="button" onclick="$('#curiosidad-row-@i').remove()" class="btn waves-effect waves-light btn-danger btn-sm mr-2 delete-curiosidad">
                <i class="fa fa-times"></i> @(localizer[Lang.BtnDeleteCuriosidad])
            </button>
        </td>
    }
</tr>