@model WebApp.Models.BackOfficeUserViewModel;

@using Binit.Framework
@using Microsoft.Extensions.Localization

@using Lang = Binit.Framework.Localization.LocalizationConstants.WebApp.Views.BackOfficeUser.CreateOrEdit
@inject IStringLocalizer<SharedResources> localizer

@{
    var action = ViewData["Action"] as string;
    var submitLabel = action == "CreateBackOffice" ? localizer[Lang.BtnCreate] : localizer[Lang.BtnUpdate];
    var roles = ViewData["Roles"] as List<SelectListItem>;
    var tenants = ViewData["Tenants"] as List<SelectListItem>;
}

<form class="floating-labels" method="POST" action="@Url.Action(action,"BackOfficeUser")">
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="UserType"/>

    <ignite-input for-property="Name"></ignite-input>
	<ignite-input for-property="LastName"></ignite-input>
	<ignite-input for-property="JobTitle"></ignite-input>
    
	@if (action == "CreateBackOffice")
	{
	    <ignite-input for-property="Email"></ignite-input>
	} 
	else 
	{
		<input type="hidden" asp-for="Email"/>
	    <ignite-input for-property="Email" disabled></ignite-input>
	}

	<ignite-input for-property="PhoneNumber"></ignite-input>
	<ignite-dropdown 
		for-property="Roles"
		items="@roles"
		multiple="true">
	</ignite-dropdown>
	<ignite-dropdown 
		for-property="TenantId"
		items="@tenants"
		placeholder="@localizer[Lang.PlaceholderSelectTenant]">
	</ignite-dropdown>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mr-2"
        onclick="window.location.href='@Url.Action("Index","BackOfficeUser")'">@(localizer[Lang.BtnCancel])</button>
        <button type="submit" class="btn btn-themecolor">@submitLabel</button>
    </div>
</form>